<section>
  <h2>Crie sua própria sala</h2>
  <form action="/create-room" method="POST">
    <label class="sr-only" for="room-pass">Insira uma senha</label><!--sempre que tivermos um input na página, utilizar uma label para descreve-lo-->
    <input type="password" name="password" id="room-pass" placeholder="Insira uma senha"><!-- placeholder faz com que dentro do input apareça algo escrito-->
    <button class="button">
      <img src="/images/users-white.svg" alt="Insira uma senha">
      Criar sala

    </button>
  </form>
</section>